
<section class="mission-page app-page">

  <div class="main-page">
    <div class="crud-dialog-overlay main">
    </div>
    <div class="crud-container">
      <img class="crud-menu-avatar" src="/assets/images/image 18.png" alt="">
      <div class="crud-dialog parchment-border">
        <app-navigation></app-navigation>
        <h2>Archives des missions</h2>
        @if (authService.role === "ADMIN") {
          <button class="green" type="button" (click)="nouvelleMission()"><i class="bx bx-plus"></i> Nouvelle mission</button>
        }
        @if (currentMission$ | async; as currentMission) {
          <h3>mission actuelle</h3>
          <div class="data-table">
            <div class="data-table-header">
              <div class="data-table-header-item">Nom</div>
              <div class="data-table-header-item">Rang</div>
              <div class="data-table-header-item">Statut</div>
              <div class="data-table-header-item">Équipe</div>
              <div class="data-table-header-item">Date de Début</div>
              <div class="data-table-header-item">Date de Fin</div>
              <div class="data-table-header-item">Actions</div>
            </div>
            <div class="data-table-body">
              <div class="data-table-body-item">
                <div>{{ currentMission.nom }}</div>
                <div>{{ currentMission.rang }}</div>
                <div>{{ currentMission.statut }}</div>
                <div>{{ currentMission.equipeNom }}</div>
                <div>{{ currentMission.dateDebut | date }}</div>
                <div>{{ currentMission.dateFin | date }}</div>
                <div class="actions">
                  @if (authService.role === "LEADER") {
                    @if (currentMission.statut == "Disponible") {
                      <button type="button" (click)="demarrer(currentMission.id)"><i class="bx bx-door-open"></i></button>
                    }
                    @if (currentMission.statut == "EnCours") {
                      <button class="green" type="button" (click)="terminer(currentMission.id)" title="Terminer"><i class="bx bx-check"></i></button>
                    }
                  }
                  <button title="Voir" type="button" (click)="voir(currentMission.id)"><i class='bx bx-search-alt'></i></button>
                </div>
              </div>
            </div>
          </div>
        }
        @else if (mission$ | async; as missions) {
          @if (missions.filter(m => m.statut === "Disponible" && !m.equipeNom).length) {
            <h3>missions disponibles</h3>
            <div class="data-table">
              <div class="data-table-header">
                <div class="data-table-header-item">Nom</div>
                <div class="data-table-header-item">Rang</div>
                <div class="data-table-header-item">Statut</div>
                <div class="data-table-header-item">Équipe</div>
                <div class="data-table-header-item">Date de Début</div>
                <div class="data-table-header-item">Date de Fin</div>
                <div class="data-table-header-item">Actions</div>
              </div>
                <div class="data-table-body">
                  @for (mission of missions; track mission.id) {
                    @if (mission.statut === "Disponible" && !mission.equipeNom) {
                      <div class="data-table-body-item">
                        <div>{{ mission.nom }}</div>
                        <div>{{ mission.rang }}</div>
                        <div>{{ mission.statut }}</div>
                        <div>{{ mission.equipeNom }}</div>
                        <div>{{ mission.dateDebut | date }}</div>
                        <div>{{ mission.dateFin | date }}</div>
                        <div class="actions">
                        @if (authService.role === "ADMIN") {
                          <button title="Editer" type="button" (click)="editer(mission.id, 'modify')"><i class='bx bx-pencil'></i></button>
                          <button class="red" title="Supprimer" type="button" (click)="supprimer(mission.id)"><i class='bx bx-trash'></i></button>
                          <button class="green" title="Assigner" type="button" (click)="assigner(mission.id)"><i class='bx bx-user-plus'></i></button>
                        }
                        <button title="Voir" type="button" (click)="voir(mission.id)"><i class='bx bx-search-alt'></i></button>
                        </div>
                      </div>
                    }
                  }
                </div>
            </div>
          }
        }
        <h3>missions archivées</h3>
        <div class="data-table">
          <div class="data-table-header">
            <div class="data-table-header-item">Nom</div>
            <div class="data-table-header-item">Rang</div>
            <div class="data-table-header-item">Statut</div>
            <div class="data-table-header-item">Équipe</div>
            <div class="data-table-header-item">Date de Début</div>
            <div class="data-table-header-item">Date de Fin</div>
            <div class="data-table-header-item">Actions</div>
          </div>
          @if (mission$ | async; as missions) {
            <div class="data-table-body">
              @for (mission of missions; track mission.id) {
                @if (mission.statut == "Terminee" || mission.statut == "Annulee" || mission.statut == "Echouee") {
                  <div class="data-table-body-item">
                    <div>{{ mission.nom }}</div>
                    <div>{{ mission.rang }}</div>
                    <div>{{ mission.statut }}</div>
                    <div>{{ mission.equipeNom }}</div>
                    <div>{{ mission.dateDebut | date }}</div>
                    <div>{{ mission.dateFin | date }}</div>
                    <div class="actions">
                      <button title="Editer" type="button" (click)="editer(mission.id, 'modify')"><i class='bx bx-pencil'></i></button>
                      <button class="red" title="Supprimer" type="button" (click)="supprimer(mission.id)"><i class='bx bx-trash'></i></button>
                      <button class="green" title="Assigner" type="button" (click)="assigner(mission.id)"><i class='bx bx-user-plus'></i></button>
                      <button title="Voir" type="button" (click)="voir(mission.id)"><i class='bx bx-search-alt'></i></button>
                    </div>
                  </div>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>

@if (show === "modify" || show === "detail" || show === "assign") {
  <div class="modal">
    <div class="crud-dialog-overlay" (click)="annulerEditer()"></div>
    <div class="crud-container">
      <div class="crud-dialog">
        @if (show === "modify" || show === "detail" ) {
          <h3 class="dialog-title">{{ show === "detail" ? 'Détails de mission' : editingMission ? 'Modifier la mission' : 'Créer une mission' }}</h3>
          <form [formGroup]="MissionForm" (ngSubmit)="creerOuModifier()">
            <table class="form-table">
              <tbody>
                <tr>
                  <td class="form-label"><label for="nom">Nom</label></td>
                  <td class="form-input">
                    @if (show === "detail") {
                      <p id="nom">{{ nomCtrl.value }}</p>
                    }
                    @else {
                      <input id="nom" type="text" [formControl]="nomCtrl" placeholder="Récupérer chat Tora">
                    }
                  </td>
                </tr>

                <tr>
                  <td class="form-label"><label for="description">Description</label></td>
                  <td class="form-input">
                    @if (show === "detail") {
                      <p id="description">{{ descriptionCtrl.value }}</p>
                    }
                    @else {
                      <textarea id="description" [formControl]="descriptionCtrl" placeholder="Le hokage a perdu son chat. Aidez-le à le retrouver!"></textarea>
                    }
                  </td>
                </tr>

                <tr>
                  <td class="form-label"><label for="rang">Rang</label></td>
                  <td class="form-input">
                    @if (show === "detail") {
                      <p id="rang">{{ rangCtrl.value }}</p>
                    }
                    @else {
                      <select id="rang" [formControl]="rangCtrl">
                        @for (r of rangs; track r) {
                          <option [value]="r">{{ r }}</option>
                        }
                      </select>
                    }
                  </td>
                </tr>

                <tr>
                  <td class="form-label"><label for="gainExp">Gain d'expérience</label></td>
                  <td class="form-input">
                    @if (show === "detail") {
                      <p id="gainExp">{{ gainExpCtrl.value }}</p>
                    }
                    @else {
                      <input id="gainExp" type="number" [formControl]="gainExpCtrl" placeholder="100">
                    }
                  </td>
                </tr>

                <tr>
                  <td class="form-label"><label for="recompense">Récompense</label></td>
                  <td class="form-input">
                    @if (show === "detail") {
                      <p id="recompense">{{ recompenseCtrl.value }}</p>
                    }
                    @else {
                      <input id="recompense" type="number" [formControl]="recompenseCtrl" placeholder="10">
                    }
                  </td>
                </tr>

                @if (editingMission) {
                  <tr>
                    <td class="form-label"><label for="equipe">Équipe</label></td>
                    <td class="form-input">
                    @if (show === "detail") {
                      @if (equipe$ | async; as equipes) {
                        <p id="equipe">{{ getEquipeLabel(equipeCtrl.value, equipes) }}</p>
                      }
                    }
                    @else {
                      <select id="equipe" [formControl]="equipeCtrl">
                        @for (e of (equipe$ | async); track e.id) {
                          <option [value]="e.id">{{ e.id + " - " + e.nom}}</option>
                        }
                      </select>
                    }
                    </td>
                  </tr>

                  <tr>
                    <td class="form-label"><label for="dateDebut">Date de début</label></td>
                    <td class="form-input">
                    @if (show === "detail") {
                      <p id="dateDebut">{{ dateDebutCtrl.value }}</p>
                    }
                    @else {
                      <input id="dateDebut" type="date" [formControl]="dateDebutCtrl">
                    }
                    </td>
                  </tr>

                  <tr>
                    <td class="form-label"><label for="dateFin">Date de fin</label></td>
                    <td class="form-input">
                    @if (show === "detail") {
                      <p id="dateFin">{{ dateFinCtrl.value }}</p>
                    }
                    @else {
                      <input id="dateFin" type="date" [formControl]="dateFinCtrl">
                    }
                    </td>
                  </tr>

                  <tr>
                    <td class="form-label"><label for="statut">Statut</label></td>
                    <td class="form-input">
                    @if (show === "detail") {
                      <p id="statut">{{ statutCtrl.value }}</p>
                    }
                    @else {
                      <select id="statut" [formControl]="statutCtrl">
                        @for (e of etats; track e) {
                          <option [value]="e">{{ e }}</option>
                        }
                      </select>
                    }
                    </td>
                  </tr>
                }
              </tbody>
            </table>

            <div class="actions">
            @if (show === "detail") {
              <button type="button" (click)="annulerEditer()" class="btn-secondary">Fermer</button>
            } @else {
              <button type="submit" [disabled]="MissionForm.invalid" class="green">
                {{ editingMission ? 'Modifier' : 'Créer' }}
              </button>
              <button type="button" (click)="annulerEditer()" class="btn-secondary">Annuler</button>
            }
            </div>
          </form>
        }
        @if (show === "assign") {
          <h3 class="dialog-title">Assigner une équipe</h3>
          <form [formGroup]="MissionForm" (ngSubmit)="validerAssignation()">
            <table class="form-table">
              <tbody>
                <tr>
                  <td class="form-label"><label for="equipeAssign">Équipe</label></td>
                  <td class="form-input">
                    <select id="equipeAssign" [formControl]="equipeCtrl">
                      @for (e of (equipe$ | async); track e.id) {
                        <option [value]="e.id">{{ e.nom }}</option>
                      }
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="actions">
              <button type="submit" [disabled]="equipeCtrl.invalid" class="btn-primary green">Valider</button>
              <button type="button" (click)="annulerEditer()" class="btn-secondary">Annuler</button>
            </div>
          </form>
        }
      </div>
    </div>
  </div>
}

</section>
